body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #0a3d62;
    color: white;
    padding: 20px;
}

button {
    padding: 8px 15px;
    margin: 5px;
}
